

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255 255 255);
    background-image: url("./images/icons/loadergif.gif");
    background-repeat: no-repeat;
    background-position: center;
	overflow: hidden;
}




  
